<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <title>音乐播放器</title>
</head>

<body>

<div class="wrap">
    <!-- 播放器主体区域 -->
    <div class="play_wrap" id="player">
        <!-- 歌曲搜索 -->
        <div class="search_bar">
            <img src="images/player_title.png" alt="" />
            <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" placeholder="输入要搜素的歌曲">
        </div>

        <!-- 歌曲列表 -->
        <div class="center_con">
            <div class='song_wrapper' ref='song_wrapper'>
                <ul class="song_list">
                    <li v-for="item in musicList">
                        <!-- 播放按钮 -->
                        <a href="javascript:;" @click="playMusic(item.id,item.album.id)"></a>
                        <!-- 歌曲名称 -->
                        <b>{{ item.name }}</b>
                        <!-- MV按钮 -->
                        <span>
                            <i  v-if="item.mvid!=0" @click="playMV(item.mvid)"></i>
                        </span>
                    </li>
                </ul>
                <img src="images/line.png" class="switch_btn" alt="">
            </div>

            <!-- 歌曲详情 -->
            <div class="player_con" :class="{playing:isPlaying}">
                <img src="images/player_bar.png" class="play_bar" />
                <!-- 黑胶碟片 -->
                <img src="images/disc.png" class="disc autoRotate" />
                <img :src="albumCover==''?'./images/cover.png':albumCover" class="cover autoRotate" />
                <img class="cover autoRotate" />
            </div>

            <!-- 歌曲评论 -->
            <div class="comment_wrapper" ref='comment_wrapper'>
                <h5 class='title'>热门留言</h5>
                <div class='comment_list'>
                    <dl v-for="item in hotComments">
                        <dt>
                            <img :src="item.user.avatarUrl" alt="">
                        </dt>
                        <dd class="name">{{ item.user.nickname }}</dd>
                        <dd class="detail">
                            {{ item.content }}
                        </dd>
                    </dl>
                </div>
                <img src="images/line.png" class="right_line">
            </div>
        </div>

        <!-- 播放按钮 -->
        <div class="audio_con">
            <audio ref='audio' @play="play" @pause="pause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
        </div>

        <!-- 播放MV -->
        <div class="video_con" v-show="showMV">
            <video id="myVideo" ref='video' :src="mvUrl" controls="controls" autoplay="autoplay"></video>
            <div class="mask" @click="closeMV"></div>
        </div>

    </div>
</div>

    <!-- 导入axios包 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>
